Repository ShahzaibParacha/COMP-4350-Project, pull requests merged in 2023-02, with the labels that each got.

#61 Create schema for Post
  backend/schema/post-schema.js
Labels: backend, dev-task

#63 Add comment schema
  backend/schema/comment-schema.js
  backend/schema/test-schema.js
Labels: backend, milestone 2, dev-task

#73 Add model, service and corresponding unit tests for Comment
  backend/model/comment-model.js
  backend/package-lock.json
  backend/package.json
  backend/schema/comment-schema.js
  backend/service/comment-service.js
  backend/unit_tests/comment-schema-test.js
  backend/unit_tests/comment-service-test.js
  package-lock.json
  package.json
Labels: backend, high priority, dev-task
